asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
Django==5.2.1
django-rosetta==0.10.2
idna==3.10
joblib==1.5.1
nltk==3.9.1
numpy==2.2.6
pandas==2.2.3
pillow==11.2.1
polib==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
rosetta==0.3
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.4.0
